:root {
  accent-color: var(--color-green);
}

form {
  max-width: 45rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: var(--shadow--subtle);
}

form .btn {
  display: block;
  text-align: center;
  width: 100%;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  padding: 0;
  margin-block: 2rem 1rem;
  /* font-weight: bold;
  font-size: clamp(1.125rem, 2.458vw, 1.333rem);
  color: var(--color-blue); */
}

.form-grid {
  --cols: 1;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(var(--cols), 1fr);

  @media only screen and (min-width: 45em) {
    --cols: 2;

    .full {
      grid-column: 1 / -1;
    }
  }
}

label,
.label {
  display: block;
  margin-block: 0 0.25rem;
  font-weight: 600;
}

/*
This selector is more annoying to write,
but is less specific, so makes it easier
to overwrite later if we need to.
*/
input:where(
    [type="text"],
    [type="number"],
    [type="email"],
    [type="tel"],
    [type="date"],
    [type="time"],
    [type="password"],
    [type="search"]
  ),
select,
textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.0625rem solid #ddd;
  border-block-end: 0.0625rem solid var(--color-blue);

  &:where(:user-valid) {
    border-color: var(--color-green);
    background-color: rgba(from var(--color-green) r g b / 0.1);
  }

  &:where(:user-invalid) {
    border-color: var(--color-red);
    background-color: rgba(from var(--color-red) r g b / 0.1);
  }
}

[type="range"] {
  display: block;
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: 400;
}

[type="checkbox"],
[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
}

.radio-grid {
  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;
}

.checkbox-wrap {
  display: flex;
  gap: 0.5rem;
}

.checkbox-wrap input {
  margin-inline-end: 0.25rem;
}
